@font-face{
    src: url(fonts/AGentleTouch.ttf);
    font-family: A Gentle Touch;
    src: url(fonts/KGIWantCrazy.otf);
    font-family: KG I Want Crazy;
    src: url(fonts/PlayfairDisplay-Bold.ttf);
    font-family: Playfair Display Bold;
    src: url(fonts/PlayfairDisplay-Regular.ttf);
    font-family: Playfair Display Regular;
    src: url(PTMono.ttc);
    font-family: PT Mono;
    src: url(fonts/PTSans.ttc);
    font-family: PT Sans;
    src: url(fonts/Monaco.ttf);
    font-family: Monaco;
    src: url(fonts/HelveticaNeue.ttc);
    font-family: Helvetica Neue;
}
:root{
    --background: #FFEFF1;
    --title: #E2ABAC;
    --pink-highlighter: #f4859b;
    --darkgrey-text: #847676;
    --header-footer: #FFD6DE;
    --almost-white: #FFEFF1;
}
body {
    background-color: var(--background);
    font-family: Helvetica Neue;
    line-height: 25px;
    color: var(--darkgrey-text);
}
.site{
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 5fr;
    grid-template-areas:
        "top"
        "title"
        "main"
        /* "side" */
        "bottom";
    font-size: 16px;
}
.top-header{
    grid-area: top;
}
header{
    background-image: url(images/bunnybanner.jpeg);
    height: 250px;
    background-color: var(--header-footer);
    /* header image from: https://www.freepik.com/premium-vector/draw-banner-cute-bunny-easter-spring_24279556.htm  by anchaleear*/
}
.image-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(250, 243, 246, 0.90);
    border-radius: 3px;
}
/* nav bar */
.navigation ul{
    list-style-type: none; 
    text-align: center; 
    margin-top: 76px;
    font-size: 22px;
}
.navigation li{
    display: inline;
    padding-right: 20px;    
    font-family: KG I Want Crazy;
}
/* nav bar actions */
    .navigation a:link{
        text-decoration: none;
        color: var(--darkgrey-text);
    }
    .navigation a:visited{
        text-decoration: none;
        color: var(--darkgrey-text);
    }
    .navigation a:hover{
        text-decoration: underline;
        color: var(--pink-highlighter);
    }
    .navigation a:active{
        text-decoration: underline;
        color: var(--almost-white);
    }
.title {
    grid-area: title;
    margin-left: 20px;
    margin-right: 20px;
}
    .title h1 {
        font-family: Playfair Display Regular;
        font-size: 50px;
        color: var(--title);
    }
.main-content {
    grid-area: main;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 300px;

}


.bottom-footer{
    grid-area: bottom;
    text-align: center;
    background-color: var(--header-footer);
    padding: 20px;
    color: var(--darkgrey-text);
    display: grid;
    grid-template-areas: 
        "upper upper upper"
        "lower-left lower-middle lower-right";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 145px;  
    /* outline-style: solid;
    outline-color: black; */
}
.upper-area{
    grid-area: upper;
    /* outline-style: solid;
    outline-color: black; */
}

/* social network links */
.links-socialnetworks ul{
    list-style-type: none;
    text-align: center;
}
.links-socialnetworks li{
    display: inline;
    padding-right: 10px;
}
/* social network links actions */
    .links-socialnetworks a:link{
        color: var(--darkgrey-text);
    }
    .links-socialnetworks a:visited{
        color: var(--darkgrey-text);
    }
    .links-socialnetworks a:hover{
        color: var(--pink-highlighter);
        text-decoration: underline;
    }
    .links-socialnetworks a:active{
        color: var(--almost-white);
        text-decoration: underline;
    }
/* top link */
#up-to-top{
    grid-area: lower-middle;
    /* outline-style: solid;
    outline-color: black; */
    text-align: center;
    font-family: KG I Want Crazy;
}
/* top link actions */
    #up-to-top a:link{
        color: var(--darkgrey-text);
        text-decoration: none;
    }
    #up-to-top a:visited{
        color: var(--darkgrey-text);
        text-decoration: none;
    }
    #up-to-top a:hover{
        color: var(--pink-highlighter);
        text-decoration: underline;
    }
    #up-to-top a:active{
        color: var(--almost-white);
        text-decoration: underline;
    }
/* references link  */
.references{
    grid-area: lower-right;
    font-family: KG I Want Crazy;
    /* outline-style: solid;
    outline-color: black; */
}
/* references link actions */
    .references a:link{
        color: var(--darkgrey-text);
        text-decoration: none;
    }
    .references a:visited{
        color: var(--darkgrey-text);
        text-decoration: none;
    }
    .references a:hover{
        color: var(--pink-highlighter);
        text-decoration: underline;
    }
    .references a:active{
        color: var(--almost-white);
        text-decoration: underline;
    }