/* Add to see the outline of objects/tables
outline-style: solid;
outline-color: black;
*/

/* ------------------------------------------------------------------------------ */
/* WHOLE SITE */
@font-face{
    src: url(fonts/KGIWantCrazy.otf);
    font-family: KG I Want Crazy;
    src: url(fonts/PlayfairDisplay-Bold.ttf);
    font-family: Playfair Display Bold;
    src: url(fonts/PlayfairDisplay-Regular.ttf);
    font-family: Playfair Display Regular;
    src: url(fonts/HelveticaNeue.ttc);
    font-family: Helvetica Neue;
    src: url(fonts/KGSevenSixteen.ttf);
    font-family: KG Seven Sixteen;
    src: url(fonts/HelveticaNeue-UltraLight.otf);     
    font-family: Helvetica Neue Ultra Light;
    src: url(fonts/Hero.otf);
    font-family: Hero;
}
:root{
    --background: #FFEFF1;
    --title: #E2ABAC;
    --pink-highlighter: #f4859b;
    --darkgrey-text: #847676;
    --header-footer: #FFD6DE;
    --almost-white: #FFEFF1;
    --white: #FFFFFF;
}
body {
    background-color: var(--background);
    font-family: Montserrat, sans-serif;
    line-height: 25px;
    color: var(--darkgrey-text);
}
.site{
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 5fr;
    grid-template-areas:
        "top"
        "title"
        "main"
        "side"
        "bottom";
    font-size: 16px;
}
/* ------------------------------------------------------------------------------ */
/* HEADER */
.top-header{
    grid-area: top;
}
header{
    background-image: url(images/bunnybanner.jpeg);
    height: 250px;
    background-color: var(--header-footer);
}
.image-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(250, 243, 246, 0.90);
    border-radius: 3px;
    width: 300px;
}
/* ------------------------------------------------------------------------------ */
/* FULL NAV BAR */
.full-navigation ul{
    list-style-type: none; 
    text-align: center; 
    margin-top: 76px;
    font-size: 22px;
}
.full-navigation li{
    display: inline;
    padding-right: 20px;    
    font-family: KG I Want Crazy;
}
/* nav bar actions */
    .full-navigation a:link{
        text-decoration: none;
        color: var(--darkgrey-text);
    }
    .full-navigation a:visited{
        text-decoration: none;
        color: var(--darkgrey-text);
    }
    .full-navigation a:hover{
        text-decoration: underline;
        color: var(--pink-highlighter);
    }
    .full-navigation a:active{
        text-decoration: underline;
        color: var(--almost-white);
    }

/* .hamburger-navigation{
    font-family: KG I Want Crazy;
    font-size: 22px;
}
    .hamburger-navigation a:link{
        text-decoration: none;
        color: var(--darkgrey-text);
    }
    .hamburger-navigation a:visited{
        text-decoration: none;
        color: var(--darkgrey-text);
    }
    .hamburger-navigation a:hover{
        text-decoration: underline;
        color: var(--pink-highlighter);
    }
    .hamburger-navigation a:active{
        text-decoration: underline;
        color: var(--almost-white);
    }
.hamburger{
    position: absolute; left: 20px; top: 35px;
    position: relative;
    display: block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}
.hamburger .bar, .hamburger:after, .hamburger:before{
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: white;
    margin: 6px 0px;
    transition: 0.4s;
}
.hamburger.is-active:before{
    transform: rotate(-45deg) translate(-8px, 6px);
}
.hamburger.is-active:after{
    transform: rotate(45deg) translate(-9px, -8px);
}
.hamburger.is-active .bar{
    opacity: 0;
}
MOBILE NAV
.mobile-navigation{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 98;
    background-color: var(--darkgrey-text);
    opacity: 80%;
    padding-top: 120px;
}  */

.mobile-navigation a{
        display: inline-block;
        text-align: center;
        margin: 0 auto 16px;
        width: fit-content;
        padding: 12px 16px;
        background-color: --var(--title);
} 
h1 {
    font-family: Playfair Display Regular;
    font-size: 50px;
    color: var(--title);
    }
h2{
    font-family: KG I Want Crazy;
    font-size: 35px;
    text-align: center;
    color: var(--title);
}
h3{
    text-transform: uppercase;
    font-family: Playfair Display Regular, serif;
    font-size: 25px;
    text-align: center;
    padding-top: 10px;
    color: var(--title);
}
h4{
    text-transform: uppercase;
    font-family: Hero;
    font-size: 30px;
    text-align: center;
    color: var(--almost-white);
}
h5{
    font-family: SG Seven Sixteen;
}
.title {
    grid-area: title;
    margin-left: 20px;
    margin-right: 20px;
}
main{
    padding: 20px;
}
.main-content {
    grid-area: main;
    margin-left: 20px;
    margin-right: 20px;
}
.aboutSD a:link{
    text-decoration: none;
}
.aboutSD a:visited{
    text-decoration: none;
    color: var(--darkgrey-text);
}
.aboutSD a:hover{
    text-decoration: underline;
    color: var(--pink-highlighter);
}
.aboutSD a:active{
    text-decoration: underline;
    color: var(--darkgrey-text);
}
.side-content {
    grid-area: side;
    /* nested grid */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "bunny bio pic";
    grid-gap: 1px;
}
.left{
    grid-area: bunny;
    background-color: var(--title);
}
    .left .columnA{
        margin-top: 10px;    
        justify-content: center;

    }
.middle{
    grid-area: bio;
    background-color: var(--title);
    font-size: 30px;
    line-height: 45px;
    font-family: Playfair Display;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-right: 10%;
    padding-left: 10%;
    color: var(--almost-white);
}
/* link in middle section - actions*/
    .middle a:link{
        text-decoration: none;
        color: var(--almost-white);
    }
    .middle a:visited{
        text-decoration: none;
        color: var(--almost-white);
    }
    .middle a:hover{
        text-decoration: underline;
        color: var(--pink-highlighter);
    }
    .middle a:active{
        text-decoration: underline;
        color: var(--darkgrey-text);
    }
.right{
    grid-area: pic;
    background-color: var(--title);
}
/* ------------------------------------------------------------------------------ */
/* ABOUT ME STYLE */
.box{
	grid-area: main;
	border-style: dotted;
	border-width: 10px;
	border-color: #f49fa9;
}
#image-html{
	float: right;
	width: 400px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-bottom: 20px;
	display: block;
}
#image-AC{
	float: left;
	width: 400px;
	padding-right: 20px;
	padding-bottom: 20px;
	display: block;
}
/* ------------------------------------------------------------------------------ */
/* REFERENCES STYLE */
main a:link{
    text-decoration: none;
    color: var(--darkgrey-text);
}
main a:visited{
    text-decoration: none;
    color: var(--darkgrey-text);
}
main a:hover{
    text-decoration: underline;
    color: var(--pink-highlighter);
}
main a:active{
    text-decoration: underline;
    color: var(--pink-highlighter);
}
/* ------------------------------------------------------------------------------ */
/* WEBOGRAPHY STYLE */
#image-html5{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 400px;
}
ol.tenresourcelist1{
    color:#8F898A;
    font-family: KG Seven Sixteen;
}
a.tenresourcelist    {
    color: #8F898A;
    font-family: KG Seven Sixteen;
}
/* all link text with id="resourcelink */
h5 a.resourcelink{
    color:#FA7885;
    font-size: 18px;
    font-family: Verdana, sans-serif;
}
/* divs 1-10 */
div#resource1{
    background-color: #FFCDD2;
    border-radius: 10px;
    font-family: tahoma;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
div#resource2{
    font-family: tahoma;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
div#resource3{
    background-color: #FFCDD2;
    border-radius: 10px;
    font-family: tahoma;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
div#resource4{
    font-family: tahoma;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
div#resource5{
    background-color: #FFCDD2;
    border-radius: 10px;
    font-family: tahoma;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
div#resource6{
    font-family: tahoma;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
div#resource7{
    background-color: #FFCDD2;
    border-radius: 10px;
    font-family: tahoma;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
div#resource8{
    font-family: tahoma;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
div#resource9{
    background-color: #FFCDD2;
    border-radius: 10px;
    font-family: tahoma;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
div#resource10{
    font-family: tahoma;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
/* ------------------------------------------------------------------------------ */
/* RESUME STYLE */
#resume{
    grid-area: main;
    display: flex;
    flex-direction: row;
}
/* resume main section (left) */
#resume-main{
    flex-grow: 1;
    height: auto;
    padding-right: 10px;
    padding-left: 10px;
}

#objective{
    padding-right: 20px;
    padding-left: 20px;
    border-bottom-style: dotted;
    border-width: thick;
}
#skills{
    padding-left: 20px;
    padding-right: 20px;
    border-bottom-style: dotted;
    border-width: thick;
}
#skills ul{
    column-count: 2;
}
/* employment experience grids */
#employment{
    display: flex;
    flex-direction: column;
}
#employment6{
    flex-grow:1;
    padding: 40px;
    background-color: var(--white);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "top-left top-right"
        "middle middle"
        "bottom bottom";
}
    #employment6-heading{
        grid-area: top-left;
    }
    #employment6-location{
        grid-area: top-right;
        text-align: right;
    }
    #employment6-dates{
        grid-area: middle;
    }
    #employment6-description{
        grid-area: bottom;
    }
#employment5{
    flex-grow:1;
    padding: 40px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "top-left top-right"
        "middle middle"
        "bottom bottom";
}
    #employment5-heading{
        grid-area: top-left;
    }
    #employment5-location{
        grid-area: top-right;
        text-align: right;
    }
    #employment5-dates{
        grid-area: middle;
    }
    #employment5-description{
        grid-area: bottom;
    }
#employment4{
    flex-grow:1;
    padding: 40px;
    background-color: var(--white);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "top-left top-right"
        "middle middle"
        "bottom bottom";
    }
    #employment4-heading{
        grid-area: top-left;
    }
    #employment4-location{
        grid-area: top-right;
        text-align: right;
    }
    #employment4-dates{
        grid-area: middle;
    }
    #employment4-description{
        grid-area: bottom;
    }
#employment3{
    flex-grow:1;
    padding: 40px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "top-left top-right"
        "middle middle"
        "bottom bottom";
    }
    #employment3-heading{
        grid-area: top-left;
    }
    #employment3-location{
        grid-area: top-right;
        text-align: right;
    }
    #employment3-dates{
        grid-area: middle;
    }
    #employment3-description{
        grid-area: bottom;
    }
#employment2{
    flex-grow:1;
    padding: 40px;
    background-color: var(--white);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "top-left top-right"
        "middle middle"
        "bottom bottom";
    }
    #employment2-heading{
        grid-area: top-left;
    }
    #employment2-location{
        grid-area: top-right;
        text-align: right;
    }
    #employment2-dates{
        grid-area: middle;
    }
    #employment2-description{
        grid-area: bottom;
    }
#employment1{
    flex-grow:1;
    padding: 40px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "top-left top-right"
        "middle middle"
        "bottom bottom";       
    border-bottom-style: dotted;
    border-width: thick;
    }
    #employment1-heading{
        grid-area: top-left;
    }
    #employment1-location{
        grid-area: top-right;
        text-align: right;
    }
    #employment1-dates{
        grid-area: middle;
    }
    #employment1-description{
        grid-area: bottom;
    }
/* eduation grids */
#education{
    display: flex;
    flex-direction: column;
}    
#education5{
    flex-grow:1;
    padding: 40px;
    background-color: var(--white);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "top-left top-right"
        "middle middle"
        "bottom bottom";
    }
    #education5-heading{
        grid-area: top-left;
    }
    #education5-location{
        grid-area: top-right;
        text-align: right;
    }
    #education5-dates{
        grid-area: middle;
    }
    #education5-description{
        grid-area: bottom;
    }
#education4{
    flex-grow:1;
    padding: 40px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "top-left top-right"
        "middle middle"
        "bottom bottom";
    }
    #education4-heading{
        grid-area: top-left;
    }
    #education4-location{
        grid-area: top-right;
        text-align: right;
    }
    #education4-dates{
        grid-area: middle;
    }
    #education4-description{
        grid-area: bottom;
    }
#education3{
    flex-grow:1;
    padding: 40px;
    background-color: var(--white);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "top-left top-right"
        "middle middle"
        "bottom bottom";
    }
    #education3-heading{
        grid-area: top-left;
    }
    #education3-location{
        grid-area: top-right;
        text-align: right;
    }
    #education3-dates{
        grid-area: middle;
    }
    #education3-description{
        grid-area: bottom;
    }
#education2{
    flex-grow:1;
    padding: 40px;   
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "top-left top-right"
        "middle middle"
        "bottom bottom";
    }
    #education2-heading{
        grid-area: top-left;
    }
    #education2-location{
        grid-area: top-right;
        text-align: right;
    }
    #education2-dates{
        grid-area: middle;
    }
    #education2-description{
        grid-area: bottom;
    }
#education1{
    flex-grow:1;
    background-color: var(--white);
    padding: 40px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "top-left top-right"
        "middle middle"
        "bottom bottom";
    }
    #education1-heading{
        grid-area: top-left;
    }
    #education1-location{
        grid-area: top-right;
        text-align: right;
    }
    #education1-dates{
        grid-area: middle;
    }
    #education1-description{
        grid-area: bottom;
    }
/* awards & certifications */
#awardscertifications{
    border-top-style: dotted;
    border-width: thick;
    padding: 20px;
    }
/* resume sidebar (right) */
#resume-sidebar{
    flex-shrink: 0;
    width: 300px;
    padding: 20px;
    background-color: var(--header-footer);
} 
#name-header{
    font-family: Montserrat, sans-serif;
    text-align: center;
    line-height: 100%;

}
#headshot{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 280px;
}
#job-title
{
    background-color: var(--darkgrey-text);
    padding: .5px;
}
#contact-info{
    text-align: center;
    line-height: 15px;
}
#personal-interests{
    list-style-type: circle;
}
/* sidebar - photo gallery */
#photo1{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 280px;
    padding: 10px;
}
#photo2{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 280px;
    padding: 10px;
}
#photo3{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 280px;
    padding: 10px;
}
#photo4{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 280px;
    padding: 10px;
}
#photo5{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 280px;
    padding: 10px;
}
#photo6{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 280px;
    padding: 10px;
}
#photo7{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 280px;
    padding: 10px;
}
#photo8{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 280px;
    padding: 10px;
}
#photo9{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 280px;
    padding: 10px;
}
#photo10{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 280px;
    padding: 10px;
}
#photo11{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 280px;
    padding: 10px;
}
/* ------------------------------------------------------------------------------ */
/* CONTACT FORM STYLE */
#site{
    width: 100%;
    font-size: 16px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 250px auto 145px;
    grid-template-areas:
        "top top top"
        "left main right"
        "bottom bottom bottom";
}
#left{
    grid-area: left;
    background-color: var(--title);
    background-size: cover;
}
#right{
    grid-area: right;
    background-color: var(--title);
    background-size: cover;
    background-repeat: no-repeat;
}
.picture{
    /* grid-area: right; */
    width: 75%;
    position: relative;
    display: flex;
    /* margin-right: auto;
    margin-left: auto; */
    align-items: center;
    justify-content: center;
}
#contact{
    grid-area: main;
    margin-right: auto;
    margin-left: auto;    
    padding: 20px;
    border-style: dotted;
	border-width: 10px;
	border-color: #f49fa9;
}
#contact p{
    text-align: center;
}
.contact-form{
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 3fr auto auto auto auto 1fr;
    grid-template-areas:
    "fname lname"
    "phone email"
    "subj subj"
    "msg msg"
    "time time"
    "mail mail"
    "rating rating"
    "table table"
    "submit submit";
    grid-row-gap: 15px;
    grid-column-gap: 15px;
}
.field{
    font-family: Hero;
}
#firstname{
    grid-area: fname;
}
#lastname{
    grid-area: lname;
}
#phone{
    grid-area: phone;
}
#email{
    grid-area: email;
}
#subject{
    grid-area: subj;
}
#message{
    grid-area: msg;
}
#survey-besttimes{
    grid-area: time;
}
#survey-besttimes div{
    column-count: 2;
}
.survey-times{
    column-count: 2;
}
.survey-mailingList{
    grid-area: mail;
}
.survey-rating{
    grid-area: rating;
    margin-right: auto;
    margin-left: auto;
}
#select {
    margin-right: auto;
    margin-left: auto;
    display: block; 
    position: relative;
    display: block;
    width: 15em;
    height: 2em;
    line-height: 3;
    overflow: hidden;
    border-radius: .25em;
    padding-bottom: 10px;
}
select {
    appearance: none;
    outline: 0;
    background: var(--pink-highlighter);
    background-image: none;
    width: 100%;
    height: 100%;
    color: white;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 3px;
    text-align: center;
    font-family: Hero;
}
#table-rating{
    grid-area: table;
}
table{
    border-collapse: collapse;
    width: 100%;
}
td, th{
    border: 1px solid var(--darkgrey-text);
    text-align: left;
    padding: 8px;
}
tr:nth-child(even){
    background-color: #e0cbd3;
}
#submit{
    grid-area: submit;
    margin: auto;
}
input[type=submit]{
    justify-content: center;
    text-align: center;
    background: var(--pink-highlighter);
    color: white;
    border-style: outset;
    border-color: black;
    height: 50px;
    width: 100px;
    font-family: Hero,sans-serif;
    text-shadow: none;
}
/* ------------------------------------------------------------------------------ */
/* FOOTER */
.bottom-footer{
    grid-area: bottom;
    text-align: center;
    background-color: var(--header-footer);
    padding: 20px;
    color: var(--darkgrey-text);
    display: grid;
    grid-template-areas: 
        "upper upper upper"
        "lower-left lower-middle lower-right";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 145px;  
}
.upper-area{
    grid-area: upper;
}
/* social network links */
.links-socialnetworks ul{
    list-style-type: none;
    text-align: center;
}
.links-socialnetworks li{
    display: inline;
    padding-right: 10px;
}
.social-icon-only ul{
    list-style-type: none;
    text-align: center;
}
.social-icon-only li{
    display: inline;
    padding-right: 10px;
}
/* social network links actions */
    .links-socialnetworks a:link{
        color: var(--darkgrey-text);
    }
    .links-socialnetworks a:visited{
        color: var(--darkgrey-text);
    }
    .links-socialnetworks a:hover{
        color: var(--pink-highlighter);
        text-decoration: underline;
    }
    .links-socialnetworks a:active{
        color: var(--almost-white);
        text-decoration: underline;
    }
    .social-icon-only a:link{
        color: var(--darkgrey-text);
    }
    .social-icon-only a:visited{
        color: var(--darkgrey-text);
    }
    .social-icon-only a:hover{
        color: var(--pink-highlighter);
        text-decoration: underline;
    }
    .social-icon-only a:active{
        color: var(--almost-white);
        text-decoration: underline;
    }
/* top link */
#up-to-top{
    grid-area: lower-middle;
    text-align: center;
    font-family: KG I Want Crazy;
}
/* top link actions */
    #up-to-top a:link{
        color: var(--darkgrey-text);
        text-decoration: none;
    }
    #up-to-top a:visited{
        color: var(--darkgrey-text);
        text-decoration: none;
    }
    #up-to-top a:hover{
        color: var(--pink-highlighter);
        text-decoration: underline;
    }
    #up-to-top a:active{
        color: var(--almost-white);
        text-decoration: underline;
    }
/* references link  */
.references{
    grid-area: lower-right;
    font-family: KG I Want Crazy;
}
/* references link actions */
    .references a:link{
        color: var(--darkgrey-text);
        text-decoration: none;
    }
    .references a:visited{
        color: var(--darkgrey-text);
        text-decoration: none;
    }
    .references a:hover{
        color: var(--pink-highlighter);
        text-decoration: underline;
    }
    .references a:active{
        color: var(--almost-white);
        text-decoration: underline;
    }
#css-validator p{
    grid-area: lower-left;
    display: block;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 1680px){
    
}
@media screen and (max-width: 1355px){
    .links-socialnetworks{
        display: none;
    }
}
@media screen and (min-width: 1355px){
    .social-icon-only{
        display: none;
    }
}
@media screen and (max-width: 895px){
.icon-rabbit{
    display: none;
}
}
@media screen and (max-width: 837px){
    .full-navigation{
        display: none;
    }
}
@media screen and (min-width: 837px){
    .hamburger-navigation, .hamburger{
        display: none;
    }
}